<h2>Product Info</h2>

<hr />

<form #productForm="ngForm">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label"> Name</label>
    <div class="col-sm-10">
      <input [(ngModel)]='product.name' required name="name" #productName="ngModel"
        [ngClass]="{'is-invalid': productName.invalid}" class='form-control'>
      <div class="invalid-feedback">
        <span>Product name is required</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-10">
      <input [(ngModel)]='product.price' required name="price" #productPrice="ngModel" type="number"
        [ngClass]="{'is-invalid': productPrice.invalid}" class='form-control'>
      <div class="invalid-feedback">
        <span>Product price is required</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Rating</label>
    <div class="col-sm-10">
      <input [(ngModel)]='product.rating' required name="rating" #productRating="ngModel" type="number"
        [ngClass]="{'is-invalid': productRating.invalid}" class='form-control'>
      <div class="invalid-feedback">
        <span>Product rating is required</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <textarea [(ngModel)]='product.description' required name="description" #productDescription="ngModel"
        [ngClass]="{'is-invalid': productDescription.invalid}" class='form-control'><textarea></textarea>
      <div class="invalid-feedback">
        <span>Product description is required</span>
      </div>
    </div>
  </div>

  <button [disabled]='productForm.invalid' (click)="save()" class="btn btn-primary mr:2">Save</button>
  <button [routerLink]="['/products']" class="btn btn-secondary mr:2">Back</button>

</form>